<ul>
  <li>
    <%= link_to "Log in with Twitter", "auth/twitter", {:class => "twitter"}%>
  </li>

  <li>
    <%= link_to "Log in with Facebook", "auth/facebook", {:class => "facebook"} %>
  </li>

  <li>
    <%= link_to "Test Login", "auth/developer", {:class => "developer"} %>
  </li>
</ul>