<h1>Where are you going?</h1>
<form id="route">
  <input name="start" type="text" placeholder="Starting Place"/>
  <input name="end" type="text" placeholder="Destination"/>
  <button name="go">Go</button>
</form>
<div id="map_canvas"></div>

<div class="tripclips">
  <h2>Most Popular Tripclips</h2>
  <ol>
    <% @tripclips.each do |tripclip| %>
      <li class="tripclip">
        <%= tripclip.name %>
      </li>
    <% end %>
  </ol>
</div>

<script>
  (function() {
    var route = new models.Route();

    var mapView = new views.Map({
      el: document.getElementById("map_canvas"),
      model: route
    });

    var pageView = new views.RoutePage({
      el: document.getElementById("main"),
      model: route
    });
  })();
</script>
