<div class="column">
  <h2>Where are you going?</h2>
  <form id="address-form">
    <input name="start" type="text" placeholder="Starting Place"/>
    <input name="end" type="text" placeholder="Destination"/>
    <button name="go">Go</button>
  </form>

  <h2>Most Popular Tripclips</h2>
  <ul id="tripclips-list">
    <% context = Presenter.present("tripclipsList", @tripclips) %>
    <%= render "tripclips/list", :mustache => context %>
  </ul>
</div>

<div class="last column">
  <div id="map"></div>
</div>

<script>
  new pages.TripclipsIndex({
    mapEl: $("#map"),
    addressEl: $("#address-form"),
    listEl: $("#tripclips-list")
  });
</script>