<h1>Where are you going?</h1>
<form id="location">
  <input name="start" type="text" placeholder="Starting Place"/>
  <input name="end" type="text" placeholder="Destination"/>
  <button name="go">Go</button>
</form>

<div class="left-section">
  <div id="map-canvas"></div>
</div>

<div class="right-section">
  <h2>Most Popular Tripclips</h2>
  <ol>
    <% @tripclips.each do |tripclip| %>
      <li class="tripclip">
        <%= tripclip.name %>
      </li>
    <% end %>
  </ol>
</div>

<script>
  new pages.TripclipsIndex({
    mapEl: $("#map-canvas"),
    addressEl: $("#location")
  });
</script>
