<div class="first column">
  <div class="inner">

    <h2>Where are you going?</h2>
    <form id="address-form">
      <input name="start" type="text" placeholder="Starting Place"/>
      <input name="end" type="text" placeholder="Destination"/>
      <button name="go">Go</button>
    </form>

    <h2>Most Popular Tripclips</h2>
    <ul id="tripclips-list"></ul>

  </div>
</div>

<div class="last column">
  <div class="inner">
    <div id="map"></div>
  </div>
</div>

<script>
  new pages.TripclipsIndex({
    mapEl: $("#map"),
    addressEl: $("#address-form"),
    listEl: $("#tripclips-list")
  });
</script>