<div id="left">
  <form id="address-form">
    <input name="start" type="text" placeholder="Starting Place"/>
    <input name="end" type="text" placeholder="Destination"/>
    <button name="go">Go</button>
  </form>

  <h2>Most Popular Tripclips</h2>

  <ul id="tripclips-list">
    <%= render "tripclips/list", :mustache => { :tripclips => @json } %>
  </ul>
</div>

<div id="right">

  <div id="map"></div>
</div>

<script>
  new pages.TripclipsIndex({
    mapEl: $("#map"),
    addressEl: $("#address-form"),
    listEl: $("#tripclips-list")
  });
</script>