<h1>Where are you going?</h1>
<form id="location">
  <input name="start" type="text" placeholder="Starting Place"/>
  <input name="end" type="text" placeholder="Destination"/>
  <button name="go">Go</button>
</form>

<div class="left-section">
  <div id="map-canvas"></div>
</div>

<div class="right-section">
  <h2>Most Popular Tripclips</h2>
  <ol>
    <% @tripclips.each do |tripclip| %>
      <li class="tripclip">
        <%= tripclip.name %>
      </li>
    <% end %>
  </ol>
</div>

<script>
  (function() {
    var region = new models.Region();

    var mapView = new views.Map({
      el: document.getElementById("map-canvas"),
      model: region
    });

    var addressView = new views.Address({
      el: document.getElementById("main"),
      model: region
    });
  })();
</script>
