<div class="first column">
  <div class="inner">

    <h2>New Tripclip</h2>
    <form id="address-form">
      <input name="location" type="text" placeholder="Location"/>
      <button name="go">Go</button>
    </form>

    <form id="tripclip-form">
      <input name="name" type="text" placeholder="Name"/>
      <textarea name="description" placeholder="Description"></textarea>
      <input name="clip" type="file" placeholder="Clip"/>
      <button name="submit">Create Tripclip</button>
    </form>

  </div>
</div>

<div class="last column">
  <div class="inner">
    <div id="map"></div>
  </div>
</div>

<script>
  new pages.TripclipsNew({
    mapEl: $("#map"),
    addressEl: $("#address-form"),
    tripclipFormEl: $("#tripclip-form")
  });
</script>