<h1>Where does your story take place?</h1>
<form id="location">
  <input name="location" type="text" placeholder="Location"/>
  <button name="go">Go</button>
</form>

<div class="left-section">
  <div id="map-canvas"></div>
</div>

<div class="right-section">
  <%= form_for @tripclip do |f| %>
    <%= f.label :name, 'Name' %>:
    <%= f.text_field :name %><br />
    <%= f.submit %>
  <% end %>
</div>

<script>
  (function() {
    var region = new models.Region();

    var mapView = new views.Map({
      el: document.getElementById("map-canvas"),
      model: region
    });

    var addressView = new views.Address({
      el: document.getElementById("location"),
      model: region
    });
  })();
</script>
