<div class="left-section">
  <form id="location">
    <input name="location" type="text" placeholder="Location"/>
    <button name="go">Go</button>
  </form>

  <form id="tripclip">
    <input name="name" type="text" placeholder="Name"/>
    <button name="submit">Create Tripclip</button>
  </form>
</div>

<div class="right-section">
  <div id="map-canvas"></div>
</div>

<script>
  (function() {

    var region = new models.Region();
    var tripclip = new models.Tripclip({ region: region })

    var mapView = new views.Map({
      el: document.getElementById("map-canvas"),
      model: region
    });

    var markerView = new views.Marker({
      mapView: mapView,
      model: region
    });

    var addressView = new views.Address({
      el: document.getElementById("location"),
      model: region
    });

    var tripclipForm = new views.TripclipForm({
      el: document.getElementById("tripclip"),
      model: tripclip
    });

  })();
</script>