<div id="left">

  <form id="address">
    <input name="location" type="text" placeholder="Location"/>
    <button name="go">Go</button>
  </form>

  <form id="tripclip">
    <input name="name" type="text" placeholder="Name"/>
    <button name="submit">Create Tripclip</button>
  </form>

</div>

<div id="right">
  <div id="map"></div>
</div>

<script>

  new pages.TripclipsNew({
    mapEl: $("#map"),
    addressEl: $("#address"),
    tripclipFormEl: $("#tripclip")
  });

</script>