<div class="column">
  <h2>New Tripclip</h2>
  <form id="address-form">
    <input name="location" type="text" placeholder="Location"/>
    <button name="go">Go</button>
  </form>

  <form id="tripclip-form">
    <input name="name" type="text" placeholder="Name"/>
    <input name="clip" type="file" placeholder="Clip"/>
    <button name="submit">Create Tripclip</button>
  </form>
</div>

<div class="last column">
  <div id="map"></div>
</div>

<script>
  new pages.TripclipsNew({
    mapEl: $("#map"),
    addressEl: $("#address-form"),
    tripclipFormEl: $("#tripclip-form")
  });
</script>