@import "definitions";
@import "compass/css3/transition";

body.tripclips {

  input[type='text'], input[type='file'], textarea {
    width: 350px;
    margin-right: $base-line-height;
  }

  input[name='name'], textarea[name='description'] {
    display: block;
  }

  textarea {
    height: 150px;
  }

  #map {
    height: 20 * $base-line-height;
  }

  #tripclips-list {
    li {
      padding: ($base-line-height / 2) 0;
      border-bottom: 1px solid #e4e4e4;

      &:first-child {
        padding-top: 0;
      }

      .description {
        height: 0;
        overflow: hidden;
        @include transition-property(height);
        @include transition-duration(200ms);
      }

      &.selected {
        .description {
          height: 30px;
        }
      }
    }
  }

}