@import "definitions";
@import "compass/css3/transition";

body.triptracks {

  input[type='text'], input[type='file'], textarea {
    width: 350px;
    margin-right: $base-line-height;
  }

  input[name='name'], textarea[name='description'] {
    display: block;
  }

  textarea {
    height: 150px;
  }

  #map {
    height: 20 * $base-line-height;
  }

  #triptracks-list {
    li {
      padding: ($base-line-height / 2) 0;
      border-bottom: 1px solid #ddd;

      &:first-child {
        padding-top: 0;
      }

      .description {
        margin-bottom: $base-line-height;
      }

      .details {
        height: 0;
        overflow: hidden;
        @include transition-property(height);
        @include transition-duration(200ms);
      }

      &.selected {
        .details {
          height: 85px;
        }
      }
    }
  }

  ol.tracks {
    .track {
      display: block;
    }

    .selected {
      background-color: #e8d1ff;
    }
  }
}