{{#tripclips}}
  <li data-id="{{id}}">

    <a href="#">{{name}}</a>

    <div class="details">
      <p class="description">{{description}}</p>
      <audio
        controls="controls"
        src="{{clip_url}}"
        preload="metadata"
      ></audio>
    </div>

  </li>
{{/tripclips}}