<div class="first column">
  <div class="inner">

    <h2><%= @user.name %></h2>

    <h2>Triptracks</h2>
    <ul id="triptracks-list"></ul>

  </div>
</div>

<div class="last column">
  <div class="inner">
    <div id="map"></div>
  </div>
</div>

<script>

</script>