<div>
  <input name="name" type="text" placeholder="Name"/>
</div>

<div class="first column">
  <p>tracks list</p>
  <a href="#add-soundcloud-track" role="button" data-toggle="modal">Add Soundcloud Track</a>
  <ol class="tracks" id="selected-tracks"></ol>
</div>

<div class="column">
  <div class="inner">

    <form id="address-form">
      <input name="location" type="text" placeholder="Location"/>
      <button class="btn" name="go">Go</button>
    </form>

  </div>
</div>

<div class="last column">
  <div class="inner">
    <div id="map"></div>
  </div>
</div>

<div id="add-soundcloud-track" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Add Soundcloud Track</h3>
  </div>
  <div class="modal-body">
    <input type="text" name="search" placeholder="Title, Artist, Genre..."/>
    <button name="search" class="btn">search</button>
    <ol class="tracks"></ol>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
    <button name="add-track" class="btn btn-primary" disabled="disabled" data-dismiss="modal">Add Track</button>
  </div>
</div>

<script>
  new pages.TriptracksNew({
    modalEl: $("#add-soundcloud-track"),
    mapEl: $("#map"),
    addressEl: $("#address-form"),
    triptrackFormEl: $("#triptrack-form"),
    tracksListEl: $("#selected-tracks")
  });
</script>