@import "definitions";

body {
  font-family: Helvetica Neue, Helvetica;
}

input[type='text'], button {
  font-size: $base-font-size;
  padding: ($base-line-height / 2);
  @include border-radius(10px);

  &:focus {
    outline: none;
    @include box-shadow(0 0 8px #aaa);
  }
}

input[type='text'] {
  border: 1px solid #aaa;
}

button {
  border-width: 1px;
  @include background(linear-gradient(top, $button-top, $button-bottom));
}

h2 {
  margin-bottom: $base-line-height;
  font-size: 24px;
}

form {
  margin-bottom: $base-line-height;
}