@import "definitions";

body {
  font-family: Helvetica Neue, Helvetica;
}

%text-input, button {
  font-size: $base-font-size;
  padding: ($base-line-height / 2);
  @include border-radius(10px);

  &:focus {
    outline: none;
    @include box-shadow(0 0 8px #aaa);
  }
}

%text-input {
  border: 1px solid #aaa;
  margin-bottom: $base-line-height;
}

input {
  &[type='text'],
  &[type='file'] {
    @extend %text-input;
  }
}

button {
  border-width: 1px;
  @include background(linear-gradient(top, $button-top, $button-bottom));
}

h2 {
  margin-bottom: $base-line-height;
  font-size: 24px;
}
