@import "definitions";

$padding-x: $base-line-height;
$min-width: 960px;

@include establish-baseline;

#header {
  @include background(linear-gradient(top, $header-top, $header-bottom));
  @include box-shadow(0 2px 3px #888);
}

#main, #header {
  padding: $base-line-height 0;

  > .inner {
    width: 80%;
    margin: 0 auto;
    min-width: $min-width;
  }
}

#header {
  .right {
    float: right;
  }
}

.column {
  width: 49.9%;
  display: inline-block;
  float: left;

  &.last {
    float: right;
  }

  > .inner {
    padding-left: $base-line-height / 2;
    padding-right: $base-line-height / 2;
  }

  &.last > .inner {
    padding-right: 0;
  }

  &.first > .inner {
    padding-left: 0;
  }
}

#title {
  font-size: 24px;
  display: inline;
}

#logout {
  margin-left: 10px;
}