@import "definitions";

$padding-x: $base-line-height;
$min-width: 960px;

@include establish-baseline;

#header {
  @include background(linear-gradient(top, $header-top, $header-bottom));
  @include box-shadow(0 2px 3px #888);
}

#main, #header {
  padding: $base-line-height 0;
}

#inner-header, #inner-main {
  width: 80%;
  margin: 0 auto;
  min-width: $min-width;
}

#inner-header {
  .right {
    float: right;
  }
}

#inner-main {
  .column {
    width: 49.9%;
    display: inline-block;
  }

  .column {
    float: left;

    .column-inner {
      padding-right: $base-line-height;
    }
  }

  .last.column {
    padding-right: 0;
    float: right;

    .column-inner {
      padding-right: 0;
    }
  }

}

#title {
  font-size: 24px;
  display: inline;
}

#logout {
  margin-left: 10px;
}