form
  display: block
  width: 800px
  margin: 20px auto

  input[type='text']
    font-size: 20px
    padding: 10px
    width: 450px
    margin-right: 20px

  button, input[type='submit']
    font-size: 20px
    padding: 10px

.left-section, .right-section
  vertical-align: top
  display: inline-block
  width: 800px

#map-canvas
  height: 500px

ol.tripclips
  li.active
    color: blue
